<!-- <div class="featured-items">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <div class="line-dec"></div>
            <h1>Featured Items</h1>
          </div>
        </div>
        <div class="col-md-02">
          <div class="owl-carousel owl-theme">
            
              <div class="featured-item">
                <img src="assets/images/item-01.jpg" alt="Item 1">
                <h4>Jean Dark Blue</h4>
                <h6>R2750.00</h6>
                <a><h2>Buy</h2></a>
              </div>
  
              <div class="featured-item">
                <img src="assets/images/item-02.jpg" alt="Item 2">
                <h4>Jean Light Blue</h4>
                <h6>R3250.00</h6>
                <a><h2>Buy</h2></a>
              </div>
       
              <div class="featured-item">
                <img src="assets/images/item-03.jpg" alt="Item 3">
                <h4>Caleb Rib Stop Quilted Gilet</h4>
                <h6>R1  435.00</h6>
                <a><h2>Buy</h2></a>
              </div>
          
              <div class="featured-item">
                <img src="assets/images/item-04.jpg" alt="Item 4">
                <h4>Sed purus quam</h4>
                <h6>R1350.00</h6>
                <a><h2>Buy</h2></a>
              </div>
          
         
        </div>
      </div>
    </div>
  </div> -->

  <div class="container">
    <h2>Purchase Items</h2>
    <form [formGroup]="purchaseItemForm" (ngSubmit)="submitForm()" class="mt-4">
          <div class="mb-3">
            <label for="purchase" class="form-label">Item purchase:</label>
            <select id="purchase" formControlName="item" class="form-control" [(ngModel)]="item">
              <option value="" disabled selected>Select Item purchase</option>
              <!-- Iterate over the items array and generate options -->
              <option *ngFor="let item of items" [value]="item.id">{{ item.name }}</option>
            </select>
          </div>
      <div class="mb-3">
        <label for="points" class="form-label">Amount:</label>
        <input type="number" id="amount" formControlName="amount" class="form-control" [(ngModel)]="amount">
      </div>
      <button type="submit" class="btn btn-primary">Purchase Item</button>
    </form>
  </div>
  